# Core functionality - changes here should be rare!
/src/app.py                   @King-Shelton
/src/backend/database.py      @King-Shelton
/src/backend/routers/auth.py  @King-Shelton

# The frontend will need refactored soon to be more object oriented.
/src/static/   @King-Shelton
